<% layout('layouts/main') -%>

	<!-- POST SECTION -->
	<div class="small-12 page-404">
		<h1>UhOh</h1>
		<h4>
		<span class="statement">if</span>(<span class="statement">!</span>content) <span class="statement">return</span> res.redirect(<span class="parameter">"404"</span>);
		</h4>
		<h6>
		res.redirect(<a href="/"><span class="parameter">"/home"</span></a>);

		</h6>
	</div>
