<% layout('layouts/main') -%>
	<!-- POST SECTION -->
	<div class="small-12 page-search">
		<% if(results && results.length != 0) {  
			for (var i = 0; i < results.length; i++) { %>
			<h4><a href="/post/<%= results[i].slug %>"><%= results[i].title %></a> </h4>
			<p><%= results[i].title %></p>
			<hr>
			<% }; %>
		<% } else { %>
			<hr> 
			<h4 style="text-align:center;">No Post found :(</h4>
		<% }%>
	</div>
