<%- include("partials/header") %>

<h1>BLOG INSTALLATION</h1>

<div class="small-12">
	<div class="small-6 small-offset-3">
		<form class="installation-form">
			<label for="blogName">Blog Name</label>
			<input type="text" name="blogName" class="blogName">
			<label for="blogName">Admin</label>
			<input type="text" name="username" class="username">
			<label for="blogName">Passoword</label>
			<input type="password" name="password" class="password">
			<label for="blogName">mongoDB link</label>
			<input type="text" name="mongodbLink" class="mongoDB">
			<input type="submit" class="install-submit">
		</form>
	</div>
</div>




<%- include("partials/footer") %>

