	</div><!-- MAIN WRAPPER -->
	<footer class="main-footer small-12 text-center">
		<div>footer</div>
	</footer>
	<!-- <div class="ornament">
		<div class="object-bg"></div>
		<div class="function-bg"></div>
		<div class="parameter-bg"></div>
		<div class="statement-bg"></div>
	</div> -->


	<script src="/components/jquery/dist/jquery.min.js"></script>
	<script src="/components/foundation/js/foundation.min.js"></script>
	<script src="http://momentjs.com/downloads/moment.js"></script>
</body>
</html>

