<!-- COMMENTS -->
<%	for (var i = 0; i < comments.length; i++) { %>
	<div class="comment">
		<h6><%= comments[i].user.username %></h6>
		<p><%= comments[i].comment %></p>
	</div>
<% }; %>
<hr>

<!-- LOG OR COMMENT -->
<% if(!user.username){ %>
	<div class="small-12 text-center">
		<h6>Login to comment</h6>
		<form action="/admin/login" method="POST" class="login-box">
			<input type="text" name="username" placeholder="username">
			<input type="password" name="password" placeholder="password">
			<input type="submit" value="Login">
		</form>
	</div>
<% }else{ %>
	<form action="/api/comment/" method="POST" class="small-12 post-comments">
		<textarea name="comment" style="resize:none !important;" placeholder="Write your comment"></textarea>
		<input type="text" style="display:none;" name="post_id" value="<%= post.id %>">
		<button type="submit" class="button expand">Comment</button>
	</form>
<% } %>
<hr>
