<nav id="main-navigation">
	<% for (var i = 0; i < navigation.length; i++) { 
		if(navigation[i].display) { %>
			<a href="<%= navigation[i].link %>"><%= navigation[i].linkName %></a>
	<% }};%>
</nav>