<div class="mail-container">
	<h1> <%= sitename %> <small><%= subtitle %></small></h1>
	<br>
	<h3> Follow the link to reset your password</h3>
	<p> This link will expires in 30min, you must request a new one if that happen!</p>
	<br>
	<a href="http://<%= link %>">Reset Link</a>
</div>
