<div class="small-12" id="admin-bar">
	<a href="/admin/panel" class="left"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
	<a href="/logout" class="right">Logout <i class="fa fa-fw fa-sign-out"></i></a>
</div>