	</div><!-- MAIN WRAPPER -->

	<footer class="main-footer small-12" >
		<div class="footer-container small-8 small-offset-2">
			<div class="footer-left">
				<span class="object">created</span>.<span class="function">with</span>(<span class="parameter">nomeCms</span>);			
			</div>

			<div class="footer-left">
				<span class="statement">if </span><span>( youLikedIt <span class="statement">&&</span> youKnowIt ) {</span>
				<br>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;git.star().fork();</span><br>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;fb.share();</span><br>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;give.feedback();</span>
				<br>
				<span>};</span>
			</div>
			<div class="clearfix"></div>
		</div>
	</footer>

	<script src="/components/jquery/dist/jquery.min.js"></script>
	<script src="/components/foundation/js/foundation.min.js"></script>
	<script src="http://momentjs.com/downloads/moment.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>

