@import url(http://fonts.googleapis.com/css?family=Lato:300,500);
.heading {
  font-family: "Lato";
  font-weight: 500;
}
.text {
  font-family: "Lato";
  font-weight: 300;
}
body {
  background: white !important;
  font-family: "Lato";
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 20px 0;
  margin: 0;
  font-family: "Lato";
  font-weight: 500;
}
hr {
  margin: 0;
  padding: 0;
}
.form-group {
  margin-top: 15px !important;
}
.login-page {
  background: #0288d1 !important;
  text-align: center;
  margin: 0;
  padding: 0;
}
.login-page h1,
.login-page h2,
.login-page h3,
.login-page h4,
.login-page h5,
.login-page h6 {
  color: white;
}
.login-page .login-form input {
  display: block;
  margin: auto;
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  padding: 10px;
  text-align: center;
}
.login-page .login-form input::-webkit-input-placeholder {
  text-align: center;
  font-weight: 500;
}
.login-page .login-form input::-moz-input-placeholder {
  text-align: center;
  font-weight: 500;
}
.login-page .login-form input::-ms-input-placeholder {
  text-align: center;
  font-weight: 500;
}
.login-page .login-form input::-o-input-placeholder {
  text-align: center;
  font-weight: 500;
}
.login-page .login-form input::input-placeholder {
  text-align: center;
  font-weight: 500;
}
.login-page .login-form input[type="submit"] {
  background: #01466c !important;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.login-page .login-form input[type="submit"]:hover,
.login-page .login-form input[type="submit"]:focus {
  box-shadow: inset 0 -5px 0px 0px #012539;
  transition: all ease-in 0.5s;
}
.admin-bar {
  height: 50px;
  background: #212121;
}
.add-link {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #212121;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  background: #d8d8d8;
}
.social-link-container .social-link-single {
  margin-top: 15px;
}
.navigation-link-container .navigation-link-single {
  margin-top: 15px;
}
#user-profile-form .pwd-err,
#user-profile-pwd .pwd-err {
  display: none;
  width: 100%;
  padding: 0px 10px;
  text-transform: uppercase;
  text-align: right !important;
}
#user-profile-form .pwd-err.alert,
#user-profile-pwd .pwd-err.alert {
  color: #ff5252;
}
#user-profile-form .pwd-err.success,
#user-profile-pwd .pwd-err.success {
  color: #4caf50;
}
#user-profile-form input,
#user-profile-pwd input {
  margin: 10px 0px;
}
