.comment{
	border-left:1px solid grey;
	margin:20px 0;
	padding-left: 10px !important;
	h6{
		display: inline-block;
		margin-right: 10px;
	}
	p{
		padding: 5px !important;
		margin:0;
	}
	small{
		cursor: pointer;
	}
}
.reply-comment{
	display:none;
}
.reply{
	border-left:1px solid grey;
	margin:20px 0;
	padding-left: 10px !important;
	h6{
		display: inline-block;
		margin-right: 10px;
	}
	p{
		padding: 5px !important;
		margin:0;
	}
	small{
		cursor: pointer;
	}
}