<%- include("./partials/header") %>
      
	
    <div id="page-wrapper">

        <div class="container-fluid">
            <%= JSON.stringify(dashboard.configs) %>
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->


<%- include("./partials/footer") %>

