<%- layout('layouts/admin-panel.ejs') -%>
<div id="page-wrapper">
    <div class="container-fluid">
    <h2 class="page-header">
        Custom CSS <small>add you custom css rules</small>
    </h2>
		<form role="form" class="col-md-6" id="custom-css-form">
			<div class="form-group">
				<textarea class="form-control custom-css" id="code-editor"><%= css %></textarea>
			</div>
			<button type="submit" class="btn btn-primary pull-right">Update</button>
		</form>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<% scripts.push('settings.js') %>