<%- include("./partials/header") %>
<%  editor = "post"; %>

        
	
<div id="page-wrapper" style="height:100vh;">

    <div class="container-fluid">  
        <%- include("./partials/editor") %>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->


<%- include("./partials/footer") %>

