<%- include("./partials/header") %>
<%  dashboard = JSON.parse(backend); %>
<%  user = JSON.parse(currentUser); %>
<%  editor = "post"; %>

<%- include("./partials/sidebar") %>
        
	
<div id="page-wrapper" style="height:100vh;">

    <div class="container-fluid">  
        <%- include("./partials/editor") %>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->


<%- include("./partials/footer") %>

