<%- include("./partials/sidebar") %>


<div class="small-6 small-offset-3">
	<form class="login-form">
		<input id="username" type="text" name="username">
		<input id="password" type="password" name="password">
		<input type="submit">
	</form>
</div>

<%- include("./partials/footer") %>

