<%- layout('layouts/no-nav.ejs') -%>
<div class="form-container">
	<h1><%= sitename %></h1>

	<form class="login-form" action="/admin/login" method="POST">
		<h5><%= error %></h5>
		<input autocomplete="off" id="username" type="text" name="username" placeholder="username">
		<input autocomplete="off" id="password" type="password" name="password" placeholder="password">
		<input type="submit" value="Login">
	</form>
	<br>
	<p style="color:black;">Forgot password? <a href="/admin/reset-password" style="color:white; text-decoration:underline; ">reset</a></p>
</div>
