<%- include("./partials/header") %>
<div class="form-container">
	<h2><%= dashboard.title %></h2>

	<form class="login-form">
		<input autocomplete="off" id="username" type="text" name="username" placeholder="username">
		<input autocomplete="off" id="password" type="password" name="password" placeholder="password">
		<input type="submit">
	</form>
</div>


<%- include("./partials/footer") %>