<%- include("./partials/header") %>

<div class="container-fluid">
    <h2>Add new user</h2>
    <form class="register-form form-group col-md-4">
        <input type="text" name="username" placeholder="username" class="form-control register-username">
        <input type="password" name="password" placeholder="password" class="form-control register-password">
        <input type="password" name="rename-password" placeholder="retype the password" class="form-control register-retype">
        <label class="label-left">Are you another BOT?</label>
        <div class="input-group">
          <span class="input-group-addon" id="captcha-q" class="captcha-q"></span>
          <input type="text" class="form-control" placeholder="resultin numbers?" aria-describedby="basic-addon1" id="captcha-a" class="captcha-a">
        </div>
        <button type="submit" class="btn btn-primary pull-right register-submit">Submit</button>
    </form>
</div>
<!-- /.container-fluid -->

<%- include("./partials/footer") %>

