<%- include("./partials/header") %>
<%  dashboard = JSON.parse(backend); %>
<%  user = JSON.parse(currentUser); %>

	<%- include("./partials/sidebar") %>
        
	
    <div id="page-wrapper">

        <div class="container-fluid">

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->


<%- include("./partials/footer") %>

