<%- layout('layouts/no-nav.ejs') -%>
<div class="form-container">
	<h1><%= sitename %></h1>
	<h4><%= pagename %></h4>
	<% if (!info.length){ %>
		<form id="reset-password-form" class="reset-password-form form-group col-xm-10 col-xm-offset-1 col-md-4 col-md-offset-4" method="POST" action="/api/user/reset-request">
			<h5><b><%= error[0] ? error[0] : '' %></b></h5>
			<input id="email" type="email" name="email" placeholder="email">
			<input type="submit">
		</form>
	<% }else{ %>
		<h3>Mail Sent!</h3>
		<h5>Check your inbox and follow the reset link!</h5>
	<% } %>
</div>
