<%- layout('layouts/no-nav.ejs') -%>

<div class="container-fluid form-container">
  <h2>RESET PASSWORD</h2>
    <p id='messages' class="hide" style="color:black;"></p>
    <form class="reset-withToken-form form-group col-md-4 col-md-offset-4">
      <input type="hidden" name="_token" value="<%= _token %>">
      <input type="hidden" name="_mail" value="<%= _mail %>">
      <input autocomplete="off" type="password" name="password" placeholder="password" class="form-control change-password">
      <input autocomplete="off" type="password" name="retype-password" placeholder="retype the password" class="form-control retype-password">
      <input type="submit" class="btn btn-primary register-submit">
    </form>
</div>

