<%- layout('layouts/no-nav.ejs') -%>
<div class="form-container">
	<h2><%= pagename %></h2>


	<form id="reset-password-form" class="reset-password-form" method="POST" action="/api/user/reset">
		<h5><%= error %></h5>
		<input autocomplete="off" id="email" type="email" name="email" placeholder="email">
		<input type="submit">
	</form>
</div>
