</div>
	<!-- jQuery -->
	<script src="/private/components/jquery/dist/jquery.js"></script>
	
	<!-- Bootstrap Core JavaScript 
	<script src="/private/js/bootstrap.min.js"></script>-->
	<script src="/private/components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="/private/components/ckeditor/ckeditor.js"></script>
	<script src="/private/components/momentjs/moment.js"></script>
	<script src="/private/components/toastr/toastr.min.js"></script>
	<script src="/private/plugins/codemirror/codemirror.js"></script>
	<script src="/private/plugins/codemirror/css/css.js"></script>
	
	<!-- CMS backend object -->
	<script src="/private/js/backend.js"></script>
	

</body>
</html>
