
</div>

	<script src="components/jquery/dist/jquery.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>

	<!-- Morris Charts JavaScript 	
	<script src="js/plugins/morris/raphael.min.js"></script>
	<script src="js/plugins/morris/morris.min.js"></script>
	<script src="js/plugins/morris/morris-data.js"></script>
	-->

	
	<script src="//cdn.ckeditor.com/4.5.2/standard/ckeditor.js"></script>
	<script src="http://momentjs.com/downloads/moment.js"></script>
	<script src="js/backend.js"></script>
	<!-- this below should be only on editor pages do it later -->
	<script>
		$.fn.initEditor();
	</script>

</body>
</html>
