</div>
	<!-- jQuery -->
	<script src="components/jquery/dist/jquery.js"></script>
	
	<!-- Bootstrap Core JavaScript 
	<script src="js/bootstrap.min.js"></script>-->
	<script src="components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="components/ckeditor/ckeditor.js"></script>
	<script src="components/momentjs/moment.js"></script>
	<script src="components/toastr/toastr.min.js"></script>
	<script src="plugins/codemirror/codemirror.js"></script>
	<script src="plugins/codemirror/css/css.js"></script>
	
	<!-- CMS backend object -->
	<script src="js/backend.js"></script>
	

</body>
</html>
