
<div class="small-10 small-offset-1">
	<h2>Post Creation</h2>
	<form class="post-editor">
		<input type="text" name="title" placeholder="title" class="small-12 post-title">
		<textarea name="editor1"></textarea>
		<!-- <textarea class="js-st-instance"></textarea> -->
		<input type="submit">
	</form>
</div>

<script>
	
</script>