<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Admin Panel</title>
	<link rel="stylesheet" href="components/foundation/css/foundation.min.css">
	<link rel="stylesheet" href="components/sir-trevor-js/sir-trevor.css">
	<link rel="stylesheet" href="components/sir-trevor-js/sir-trevor-icons.css">

	<script src="//cdn.ckeditor.com/4.5.2/standard/ckeditor.js"></script>
</head>
<body>
	