<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Admin Panel</title>
	<link rel="stylesheet" href="components/sir-trevor-js/sir-trevor.css">
	<link rel="stylesheet" href="components/sir-trevor-js/sir-trevor-icons.css">
</head>
<body>
	