<%- include("partials/header") %>

<header class="small-8 small-offset-2 home">
	<h1>js.DEN</h1><span class="subtitle">(yetAnotherDevelopersBlog)</span>
	<nav>
		<a href="#">About</a>
		<a href="#">Node</a>
		<a href="#">Angular</a>
		<a href="#">Javascript</a>
		<a href="#">Snippets</a>
	</nav>
</header>

<!-- POST SECTION -->
<div class="small-8 small-offset-2 content">
	<%- include("partials/post-loop") %>
</div>

<%- include("partials/footer") %>

