<%- include("partials/header") %>


<h1><%= shared.title %> </h1>
<p>new location</p>
<button class="post">generate POST</button>
<button class="page">generate PAGE</button>



<%- include("partials/footer") %>

