<%- include("partials/header") %>

	<!-- POST SECTION -->
	<div class="small-12 page-search">
		<% if(locals.results && locals.results.length != 0) {  
			for (var i = 0; i < results.length; i++) { %>
			<a href="/post/<%= results[i].slug %>"><%= results[i].title %></a> 
			<hr>
			<% }; %>
		<% } else { %>
			<hr> 
			<h4 style="text-align:center;">No Post found :(</h4>
		<% }%>
	</div>

<%- include("partials/footer") %>

